.container{
    flex: 0 0 340px;
}
    
.body{    
    height: 100%;
    background: #FFFFFF;
    box-shadow: 10px 4px 25px rgba(230, 230, 230, 0.25);
    border-radius: 20px;
}


.list{
    padding: 50px 30px;
}

.item{
    padding: 12px 65px;
    display: block;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #72757A;
    transition: background 0.1s ease 0s;
}

.active{
    background: #0E6EFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.itemFriends{

}

