.body{
    padding: 25px 10px;
    height: 150px;
    width: calc(87% - 75px);;
    position: fixed;
    background-color: rgba(13, 18, 18, 0.95);
    box-shadow: 0px 0px 20px rgb(13, 18, 18);
}

.lable{
    font-size: 16px;
    text-transform: uppercase;
    color: #BAC8C8;
    padding: 0px 0px 20px 0px;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -10px;
}

.post{
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    width: 100%;
    resize: none;
    margin: 0px 20px 0px 0px;
    font-size: 16px;
    padding: 10px;
    color: #000;
}

.button{
    width: 30px;
    height: 30px;
    background-color: rgb(187, 187, 187);
}
