.user{
    flex: 0 0 330px;
    padding: 0 7.5px;
}

.body{
    padding: 30px;
    background-color: rgb(105, 105, 105);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar{  
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0px 20px 20px 20px;
    background-color: #fff;
}

.name, .surename{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

.name{
    margin: 0px 0px 10px 0px;
}

.surename{
    margin: 0px 0px 40px 0px;
}

.text{
    margin: 0px 0px 25px 0px;
    font-size: 16px;
    color: rgb(192, 192, 192);
}

.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: rgb(250, 0, 0);
}


.susubscribers{
     margin: 0px 20px 0px 0px;
}

.subscriptions{

}