
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.textarea{
    background-color: #181D1C;
    border-radius: 10px;
    width: 100%;
    resize: none;
    margin: 0px 20px 0px 0px;
    font-size: 16px;
    padding: 10px;
    color: #EEF2F1;
}

.button{
    width: 30px;
    height: 30px;
    background-color: rgb(187, 187, 187);
}
