
.container{
    width: 100%;
    margin: 0px 0px 20px 0px;
}

.body{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
}

.logoLable{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 31px;
    height: 31px; 
    gap: 7px;
    margin: 0px 25px 0px 0px;
}

.cube{
    width: 12px;
    height: 12px; 
    background: #171B1E;
    border-radius: 2px;
}

.logoText {
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    color: #171B1E;
}

.info{
    
}

.bell{

}

.mail{

}

.profile{
    display: flex;
}

.avatar{
    width: 60px;
    height: 60px;
    margin: 0px 20px 0px 0px;
    background-color: #fff;
    border-radius: 15px;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name{
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.email{
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #72757A;
}