.container{
    z-index: 10;  
    height: 90px;
    width: 100%;
    background-color: rgba(13, 18, 18, 0.85);
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px rgba(13, 18, 18, 0.80);
    padding: 5px 10px 5px 10px; 
}

.body{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
}

.logoLable{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 31px;
    height: 31px; 
    gap: 7px;
    margin: 0px 25px 0px 0px;
}

.cube{
    width: 12px;
    height: 12px; 
    background: #BAC8C8;
    border-radius: 2px;
}

.logoText {
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    color: #BAC8C8;
}

.info{
    display: flex;
}

.logoutBtn{
    margin: auto 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #181D1C;
    color: #72757A;
    font-size: 16px;
    

}

.profile{
    display: flex;
}

.avatar{
    width: 60px;
    height: 60px;
    margin: 0px 20px 0px 0px;
   
    border-radius: 15px;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name{
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #BAC8C8;
}

.email{
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #72757A;
}