.container{
    width: 100%;
}
    
.list{
    padding: 50px 15px;
}

.body{    
    height: 100%;
    background: #FFFFFF;
    box-shadow: 10px 4px 25px rgba(230, 230, 230, 0.25);
    border-radius: 20px;
}


.item{
    padding: 12px 0;
    text-align: center;
    display: block;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #BAC8C8;
    transition: background 0.1s ease 0s;
}

.active{
    background: #2AA5A0;
    font-weight: bold;
    font-size: 20px;
    color: #0D1212;
}

.itemFriends{

}






