
.body{
    margin: 10px;
    padding: 0px 0px 10px 0px;
    display: grid;
    grid-template: auto auto/ auto 1fr;
    grid-template-areas: 
    "avatar name"
    "text text";
    gap: 5px;
    align-items: center;
    border-bottom: 1px solid #000;
}

.avatar{
    grid-area: avatar;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
}

.name{
    grid-area: name;
    color: #000;
}

.text{
    grid-area: text;
}
