.containerForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: #181D1C;
    width: 245px;
    height: 217px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

.inputField{

}

.text{
   padding: 0px 0px 10px 0px;
}

.text:last-child{
    padding: 0;
}

.inputCheckbox{
}

.labelCheckbox{
    color: #EEF2F1;
    font-size: 16px;
    padding: 0px 0px 0px 10px;
}   



.button{
    background-color: rgb(47, 124, 17);
    color: #EEF2F1;
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 16px;
}